.root {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px;
}

.editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.editor .paragraph {
  margin: 14px 0;
}

.editor :global(.public-DraftEditorPlaceholder-root),
.editor :global(.public-DraftEditor-content) {
  margin: 0 -10px -10px;
  padding: 10px;
}

.editor :global(.public-DraftEditor-content) {
  overflow: auto;
}

.hidePlaceholder :global(.public-DraftEditorPlaceholder-root) {
  display: none;
}

/* There shouldn't be margin outside the first/last blocks */
.editor .block:first-child,
.editor pre:first-child,
.editor ul:first-child,
.editor ol:first-child {
  margin-top: 0;
}
.editor .block:last-child,
.editor pre:last-child,
.editor ul:last-child,
.editor ol:last-child {
  margin-bottom: 0;
}
